*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    width: 100%;
    background: #222;
    color:#000;
    height: 100%;
}

/* Topo */
.background-topos{
    background: url('../img/background_topo.png');
    filter: brightness(80%);
    width: 100%;
    height: 30%;
    background-size: cover;
    background-position-y: -60px;
}

.pag-prin h1{
    text-align: center;
    margin: 5%;
    margin-top: 10%;
    font-size: 4em;
    color: #fff;
}

.logo img{
    width: 8%;
    height: 8%;
    margin: 1% 45%;
}

.login{
    display: flex;
    justify-content: flex-end;
}

.login a{
    border: 2px solid black;
    border-radius: 10px;
    background: #1db0d4;
    width: 7%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    font-size: 16pt;
    margin: 5px;
}

.nav-bar ul{
    display: flex;
    width: 100%;
}

.nav-bar li{
    list-style-type: none;
    background: #d8d6d6;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    transition: background, .5s;
}

.nav-bar a{
    font-size: 14pt;
    text-decoration: none;
    outline: none;
    color: #000;
    height: 50px;
    transition: color, .5s;
}

.link{
    width: 100%;
    height: 47px;
    padding: 4%
}

.nav-bar li:hover{
    background: #000;
}

.nav-bar a:hover{
    color: #fff;
}
/* fim do topo */


/* main da pagina principal */

.banner img{
    margin: 5% 20%;
    width: 60%;
    height: 30%;
    border-radius: 10px;
    filter: opacity(95%);
}

.logo2{
    margin: 0% 47.3%;
    transform: translateY(5px)
}
/* fim do main da padina principal */




/* TIMELINE */

/* timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* Linha principal da Timeline */
.timeline::after {
    content: '';
    height: 105%;
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* circulo */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* circulo da timeline */
.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #1db0d4;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* conteudo esquerdo */
.left {
    left: 0;
    transition: transform, 1s;
}

.left:hover{
    transform: translateY(15px)
}

/* Place the container to the right */
.right {
    left: 50%;
    transition: transform, 1s;
}

.right:hover{
    transform: translateY(15px)
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content h3{
    margin:2% auto;
}

#video{
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    width: 400px;
    margin: 1% auto;
    text-align: center;
}

#video h3{
    margin: 2%;
    font-size: 16pt;
}
/* FIM DA TIMELINE */




/* Planos */

.planos{
    background-color: #666;
    width: 100%;
    text-align: center;
    margin: 10% auto;
}

.planos h2{
    color: #fff;
    font-size: 3em;
    margin: 5% auto 7%;
}

.content-planos{
    display: flex;
}

.plano{
    width: 30%;
    height: 100%;
    margin:2% 5%;
    background-color: #fff; 
    border:1px solid black;
    border-radius: 16px;
    padding: 2%;
}

.plano h3{
    color: #fff;
    margin: 2% auto;
    font-size: 1.7em;
    border: 1px solid black;
}

.plano ul{
    margin:15% 3% 15% ;
    height: 60%;
    width: 60%;
}

.plano p{
    border: 1px #000 solid;
    margin: auto auto;
    width: 36%;
    font-size: 13pt;
}

.plano li{
    /* list-style-type: none; */
    text-align: left;
    margin-left: 13%;
    margin-top: 1%;
    font-size: 15pt;
}

/* configurações do botão */
.plano button{
    margin: 5% auto;
    color: #fff;
    width: 40%;
    height: 70%;
    background-color: #1db0d4;
    border: 1px solid black; 
    outline: none;
    font-size: 1.5em;
    border-radius: 16px;
}

.plano button:hover{
    background-color: #1898b8;
}

.plano button:active{
    background-color: #24c8f1;
    color: #000;
}
/* fim das configurações do botão */

/* id das cores usadas para colocar no h3 dos planos */
#bronze h3{
    background-color:#c87f32 ;
}

#prata h3{
    background-color: #bbbbbb;
}

#ouro h3{
    background-color: #d5a020;
}
/* fim dos ids */



/* PAGINA SOBRE NÓS */

.sobre-prin h1{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24pt;
    transform: translateY(40px);
}

.sobre-content{
    background: url(../img/banner.png);
    border-radius: 26px;
    width: 70%;
    height: 729px;
    margin: 8% auto;
    color:#fff;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 2%;
    background-size: cover;
}

.sobre-item{
    background: rgba(51, 51, 51, 0.719);
    width: 70%;
    height: 73%;
    padding: 8%;
    margin: 10% auto;
    border-radius: 26px;
    transition: background-color, 0.3s;
}

.sobre-item:hover{
    background-color: #222;
}

.sobre-item h3{
    text-align: center;
    font-size: 1.6em;
    margin: 3% auto;
}
/* FIM DA PAGINA SOBRE NÓS */



/* PAGINA CONTATO */

.contato-prin h1{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24pt;
    transform: translateY(40px)
}
 
.formulario{
    background-color: #444;
    border-radius: 26px;
    margin: 8% auto;
    width: 60%;
    padding: 8%;
    display: grid;
    grid-template-columns: auto auto;
}

.formulario h3{
    color: #fff;
    margin:1% 2%
}

.all-inputs input{
    width: 60%;
    padding: 3%;
    border-radius: 26px;
    border: #000 solid 1.5px;
    outline: none;
}

.box-text{
    border: 1.5px solid #000;
    border-radius: 16px;
    outline: none;
    width: 65%;
    height: 100px;
    padding: 8px 16px;
}

.btn{
    background-color:#1db0d4;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 8px 16px;
    outline: none;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #115277;
    color: #fff;
}

.btn:active{
    background-color: #1db0d4;
}

#mapa h2{
    margin-left: 8%;
    color: #fff;
}

/* mapa */

.mapouter {
    margin-left: 30px;
    text-align: right;
    height: 200px;
    width: 200px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 300px;
}
/* fim do mapa */

/*FIM DA PAGINA CONTATO*/


/* PAGINA DÚVIDAS */

.duvidas {
    transition: transform, 0.8s;
}

.duvidas:hover{
    transform: translateY(-30px);
}

.duvidas-prin h1{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24pt;
    transform: translateY(40px)
}

.duvidas h2{
    background-color: #1db0d4;
    width: 70%;
    padding: 1%;
    margin: 10% auto 0%;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
}

.duvidas p{
    background-color: #fff;
    width: 70%;
    padding: 1%;
    margin:  auto auto 8%;
    border-radius: 0px 0px 10px 10px;
}

/* FIM DA PAGINA DUVIDAS */


/* RODAPÉ DE TODAS AS PAGINAS */
.rodape{
    background-color: #444;
    width: 100%;
    height: 100%;
    display: flex;
}

.rodape ul{
    flex-direction: column;
    margin: 1% 6%;
}

.rodape li{
    color: #fff;
    list-style-type: none;
    display: inline;
}

.redes-sociais{
    margin:2% auto 0.2%;;
}

.redes-sociais img{
    width: 5%;
    height: 60%;
}

.redes-sociais h3{
    color: #fff;
}

#git{
    border-radius: 20%;
}

/* FIM DO RODAPÉ */

/* responsividade tablet */
@media screen and (max-width:880px){
    /* responsividade da pagina home */
    .none2{
        display: none;
    }

    .logo2{
        transform: translateX(-18px) translateY(3px);
    }    
    .content-planos{
        flex-wrap: wrap;
    }
    .plano{
        width: 40%
    }

    .plano3{
        margin-left: 30%;
    }

    .plano h3{
        width: 65%;
    }
    /* fim da responsividade da pagina home */

    /* responsividade da pagina sobre */
    .sobre-content{
        background: none;
        width: 95%;
    }

    .sobre-item{
        padding: 5%;
        background-color: #555;
    }

    .sobre-item:hover{
        background: #444;
    }
    /* fim da pagina sobre */
    
    /*responsividade da pagina contato*/
    
    .formulario{
        width: 90%;
    }
    
    .mapouter {
        height: 50px;
        width: 50px;
    }
}


/* reponsividade mobile */
@media screen and (max-width:425px){
    .none{
        display:none;
    }
    
    .pag-prin h1{
        font-size: 1.7em;
    }

    .m-res{
        margin-top:10px;
    }

    .banner img{
        width: 90%;
        height: 50%;
        margin:8% 5%;
    }

    /* timeline responsiva */
    .timeline::after {
        left: 31px;
        height: 78%;
        margin: 4% 8% 2% 0%;
    }
      
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
      
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    
    .left::after, .right::after {
        left: 15px;
    }
      
    .right {
        left: 0%;
    }
    /* fim da reponsividade da timeline */

    .content-planos{
        flex-wrap: wrap;
    }

    .plano{
        width: 80%;
        margin: 2% auto;
        padding: 4%;
    }

    .plano h3{
        width: 65%;
    }

    /* responsividade da pagina sobre */
    .sobre-content{
        margin: 15% auto;
        display: flex;
        background: none;
        flex-direction: column;
        height: 100%;
        width: 90%;
    }

    .sobre-item:hover{
        background-color: #444;
    }

    .sobre-item{
        border: #000 solid 1px;
        background-color: #555;
    }

    /* responsividade da pagina contato  */
    .formulario{
        margin-top: 20%;
        width: 80%;
    }

    .all-inputs input{
        width: 80%;
    }

    .box-text{
        width: 85%;
    }

    /* responsividade da pagina duvidas */

    .duvidas{
        margin-top: 20%;
    }

    .duvidas:hover{
        transform: translateY(0);
    }

    .duvidas h2{
        padding: 3%;
        font-size: 1.4em;
    }

    .duvidas p{
        padding: 5%;
    }
}